@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main {
    font-family: "Inter", sans-serif;
    background-color: #e9ecf7;
    height: 100vh; /* Ensure the main container takes up the full viewport height */
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: center; /* Center content horizontally */
}

.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(155, 155, 155); /* Initial shadow for default state */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and movement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton:hover {
    background-color: #e9e9e9; /* Change color on hover */
    box-shadow: 5px 5px 10px rgb(155, 155, 155); /* Deeper shadow to give the effect of being raised */
    transform: translateY(-2px); /* Move the button slightly upwards */
}

.content {
    width: 40%;
    height: 60%;
    position: relative;
    top: 15%;
    text-align: center; /* Center the content horizontally */
    background-color: white;
    box-shadow: 5px 5px 10px rgb(155, 155, 155);
}

.logo {
    margin-top: 15%;
    width: 150px; /* Adjust the size of the logo */
    height: auto;  /* Keep the aspect ratio */
}

.content h1 {
    font-size: 20px;
    margin-top: -45px;
}

.form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    height: 40px;
    border-radius: 0;
}

/* Focus effect */
.form input:focus, .p-password input:focus {
    outline: none; /* Remove default browser outline */
    border-color: #40598e; /* Change border color on hover */
    box-shadow: 0 0 2px 1px #40598e; /* Optionally change the shadow color */
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Hover effect for input */
.form input:hover, .p-password input:hover {
    border-color: #48639e; /* Change border color on hover */
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/* Optional: If using the PrimeReact floating label, adjust the label color on focus */
.p-float-label .p-focus label {
    color: #4b6cc0; /* Change label color on focus */
}

.submit button {
    height: 40px;
    width: 100px;
    background-color: #23355f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    transition: background-color 0.2s ease-in-out; /* Add transition for background-color */
    margin-top: 20px; /* Add spacing from the form */
}

.submit button:hover {
    background-color: #2e4986; /* Change the background color on hover */
}

.error {
    margin-top: 20px;
    color: red;
    font-size: 14px;
}

.forgotPasswordLink {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    text-decoration: underline;   
    color: black;
}

.forgotPasswordLink:hover {
    color: gray;
}

.message {
    margin-top: 15px;
    font-size: 14px;
}