/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

/* General Page Layout */
.main {
    height: 100vh;
    font-family: "Noto Sans KR", sans-serif;
}

.content {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 80%;
    max-width: 1200px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.title {
    height: 100%;
    width: 50%; /* Ensure it takes up half of the header */
    color: #19428b;
}

.link {
    height: 100%;
    width: 50%; /* Ensure it takes up half of the header */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    font-size: 18px; /* Adjust the font size as needed */
    text-align: right;
}

.link p {
    margin: 0 10px; /* Add some space around the ">" symbol */
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link a:hover {
    color: #4e73ac; /* Change to desired hover color */
}

.link h4 {
    margin: 0;
    transition: color 0.3s; /* Add transition for smooth color change */
}

.link h4:hover {
    color: #4e73ac; /* Change to desired hover color */
}



.videoList {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Initially one column */
    margin-top: 0px;
}

@media (min-width: 768px) {
    .videoList {
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    }
}

@media (min-width: 1200px) {
    .videoList {
        grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
    }
}

.thumbnail {
    width: 101%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: -37px;
}



.videoContainer {
    width: 372px;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden; /* To ensure the rounded corners work on the video */
    position: relative;
    padding-bottom: 56.25%; /* Maintain 16:9 aspect ratio */
    height: 0; /* Set height to 0 for the padding-bottom trick to work */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More intense initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.videoContainer:hover {
    transform: scale(1.03); /* Slightly larger scaling for a stronger hover effect */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); /* Deeper shadow on hover for more intensity */
}


.videoItem {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%; /* Set max-width to allow larger size */
    margin: 0 auto; /* Center the video item in the grid column */
}

.videoDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.videoNameRow {
    text-align: left;
    width: 100%;
    margin-bottom: 0px; /* Space between the name and the buttons */
}

.videoName {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.videoDate {
    font-size: 14px;
    color: #777;
}

.videoSection {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; /* Center the content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.controlsContainer {
    display: flex;
    justify-content: space-between; /* Space between the left and right controls */
    width: 100%;
    align-items: center;
}

/* Left-aligned controls */
.leftAlignedControls {
    text-align: left;
    color: rgb(61, 61, 61);
    font-size: 16px;
}

/* Right-aligned controls */
.rightAlignedControls {
    text-align: right;
}

.filterDropdown {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
}

.pageButton {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pageButton:hover {
    background-color: #ddd;
}

.activePage {
    background-color: #5187c2; /* Set the active page background */
    color: #fff; /* Make text white for better contrast */
    border-color: #5187c2; /* Match border color to background */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Overlay and Content */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 100%; /* Make the modal take full width */
    max-width: 800px; /* Limit the max width of the modal */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.videoContainer2 {
    position: relative;
    width: 100%; /* Make the video container take full width */
    padding-bottom: 56.25%; /* Maintain the 16:9 aspect ratio */
    height: 0; /* Set height to 0 to enable aspect ratio trick */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.videoContainer2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the iframe take full width */
    height: 100%; /* Make the iframe take full height */
}


.modal .closeButton {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.modal .closeButton:hover {
    background-color: #999;
}

.modalContent .name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
}

.modalContent .name p {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

.modalContent .name label {
    color: gray;
    font-style: italic;
    font-size: 14px;
}


@media (max-width: 450px) {
    .content {
        margin-top: 120px;
    }

    .header {
        flex-direction: column; /* Stack the link and title vertically */
        align-items: flex-start; /* Align both link and title to the left */
        width: 85%;
        max-width: 1200px;
        height: auto;
        margin-bottom: 10px;
    }

    .link {
        order: -1; /* Move the link above the title */
        width: 100%; /* Make the link take full width */
        justify-content: flex-start; /* Align the link to the left */
        margin-bottom: 0px; /* Add some space between link and title */
    }

    .title {
        width: 100%; /* Make the title take full width */
        text-align: left; /* Align the title text to the left */
        margin-top: -10px;
        height: 70px;
    }

    .videoSection {
        width: 85%;
        margin-top: 10px;
    }

    .videoContainer:hover {
        box-shadow: none; /* Remove the box-shadow */
        transform: none; /* Remove the scale effect */
    }
}

@media (min-width: 450px) and (max-width: 768px) {
    .content {
        margin-top: 110px;
    }
    .header,
    .videoSection {
        width: 85%;
    }
    .videoContainer:hover {
        box-shadow: none; /* Remove the box-shadow */
        transform: none; /* Remove the scale effect */
    }
}


@media (min-width: 768px) and (max-width: 1194px) {
    .header,
    .videoSection {
        width: 85%;
    }
    .videoContainer:hover {
        box-shadow: none; /* Remove the box-shadow */
        transform: none; /* Remove the scale effect */
    }
}