@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');


.main {
    font-family: "Noto Sans KR", sans-serif;
}

.content {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.header {
    width: 80%;
    max-width: 1200px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 50%; /* Ensure it takes up half of the header */
    color: #19428b;
}

.link {
    height: 100%;
    width: 50%; /* Ensure it takes up half of the header */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    font-size: 18px; /* Adjust the font size as needed */
    text-align: right;
}

.link p {
    margin: 0 10px; /* Add some space around the ">" symbol */
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link a:hover {
    color: #4e73ac; /* Change to desired hover color */
}

.link h4 {
    margin: 0;
    transition: color 0.3s; /* Add transition for smooth color change */
}

.link h4:hover {
    color: #4e73ac; /* Change to desired hover color */
}

.carousel {
    width: 80%;
}

.itemContainer {
    position: relative;
    width: 100%;
    overflow: visible;
}

.slider {
    display: flex;
    scroll-behavior: smooth;
    width: 100%;
}

.leftBtn, .rightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    z-index: 10;
}

.leftBtn {
    left: 10px;
}

.rightBtn {
    right: 10px;
}

.item {
    width: calc(100% / 4); /* Adjust width dynamically based on slidesVisible */
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.slide {
    width: 80%;
    max-width: 1200px;
}

@media (max-width: 450px) {
    .content {
        margin-top: 120px;
    }

    .header {
        flex-direction: column; /* Stack the link and title vertically */
        align-items: flex-start; /* Align both link and title to the left */
        width: 85%;
        max-width: 1200px;
        height: auto;
        margin-bottom: 10px;
    }

    .link {
        order: -1; /* Move the link above the title */
        width: 100%; /* Make the link take full width */
        justify-content: flex-start; /* Align the link to the left */
        margin-bottom: 0px; /* Add some space between link and title */
    }

    .title {
        width: 100%; /* Make the title take full width */
        text-align: left; /* Align the title text to the left */
        margin-top: -10px;
        height: 70px;
    }

    .pics h1 {
        font-size: 25px;
    }

    .button {
        gap: 50px;
    }

    .slide {
        width: 85%;
    }


}

@media (min-width: 450px) and (max-width: 768px) {
    .content {
        margin-top: 110px;
    }
    .header {
        width: 85%;
    }

    .slide {
        width: 85%;
    }
   
}


@media (min-width: 768px) and (max-width: 1194px) {
    .header {
        width: 85%;
    }

    .slide {
        width: 85%;
    }
  
}