/* General Page Styles */
.main {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fafafa;
}

.content {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Allows the popup to be positioned relative to the content */
}

.header {
    width: 1200px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.title {
    height: 100%;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    color: #19428b;
}

.link {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    text-align: right;
}

.link p {
    margin: 0 10px;
}

.link a {
    text-decoration: none;
    color: inherit;
}

.link a:hover {
    color: #4e73ac;
}

.anotherLink {
    width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -15px;
    font-size: 18px;
}

.anotherLink a {
    text-decoration: none;
    color: #3b3b3b;
}

.rightnow p {
    color: #19428b;
    font-weight: 700;
}

.other:hover p {
    color: gray;
}

.onemoreLink {
    margin-left: 10px;
    width: 1200px;
    height: 8px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    font-size: 18px;
}

.onemoreLink p {
    margin-top: -13px;
}

.cityButton {
    margin-top: -12px;
    background-color: transparent;
    border: none;
    color: #3b3b3b;
    font-size: 18px;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
}

.cityButton:hover {
    color: gray;
}

.selectedCity {
    color: #19428b;
    font-weight: 700;
}

.selectedCity:hover {
    color: #19428b; /* Keep the same color on hover */
}


.contentBox {
    margin-top: 80px;
    width: 100%; 
    height: auto; /* Adjust height automatically based on content */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-bottom: 200px; /* Space between contentBox and footer */
}

.photobox {
    position: relative;
    max-width: 1200px;
    height: auto;
    display: flex;
    align-items: center;

}

.photobox img {
    width: 900px;
    z-index: 100;
}



.logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 500px;
    height: 400px;
    background-image: url(/watermark.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}