@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Main styles */
.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.statusBar {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusItem {
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
  transition: background-color 0.3s;
}

.statusItem.active {
  background-color: #19428b;
}

.statusLabel {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  text-align: center;
}

/* First section styles */
.first {
    margin-top: 150px;
    flex: 1;
    display: flex;
    flex-direction: row;
    height: calc(50% - 75px);
}

.firstLeft {
  flex: 1;
  font-family: "Tinos", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make sure this div takes the full available height */
  width: 100%; /* Ensure it takes the full available width */
  margin-top: 10px;
  }
  
  .curved {
  margin-top: -275px;
  }
  
  .firstRight {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 100%; /* Make sure this div takes the full available height */
  width: 100%;
  }
  
  .picture {
  background-color: #e0ebf6;
  height: 75%;
  width: 95%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  }
  
  .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  }
  
  /* Second section styles */
  .second {
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(50% - 75px);
  }
  
  .cards {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  }
  
  .card {
  width: 250px;
  height: 220px;
  z-index: 2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  }
  
  .card h4 {
  margin-top: 10px;
  margin-bottom: 0;
  }
  
  .icon {
  width: 55px;
  height: 55px;
  margin-top: 20px;
  filter: brightness(60%);
  }
  
  .cardHead {
  color: #26405f;
  font-weight: 700;
  font-size: 17px;
  }
  
  .cardtext2 {
  color: #26405f;
  margin: 0;
  margin-top: -15px;
  font-size: 12px;
  text-align: center;
  }
  
  .cardtext3 {
  font-size: 11.4px;
  text-align: center;
  color: rgb(31, 31, 31);
  }
  
  .textbox {
  margin-top: 200px;
  text-align: center;
  }
  
  .font1 {
  font-size: 17px;
  margin-bottom: -10px;
  font-weight: 300;
  }
  
  .specialText {
font-family: 'SF_HambakSnow';
  color: #4b6ebd;
  font-size: 25px;
  }
  
  .font2 {
    font-family: "Tinos", serif;
    color: #2d4275;
    font-weight: 600;
    margin-left: 610px;
    font-weight: 100;
  }
  
  /* Third section styles */
  .content2 {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #727EAF;
  }
  
  .real {
  width: 1330px;
  }
  
  .content2 h1 {
  color: #D3A518;
  font-size: 60px;
  }
  
  .content3 {
  background-color: beige;
  width: 100%;
  height: calc(100vh - 50px);
  }
  