@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.content {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px; /* Assuming 160px is the height of the Navigation */
}

.first {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.firstLeft {
  flex: 1;
  font-family: "Tinos", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make sure this div takes the full available height */
  width: 100%; /* Ensure it takes the full available width */
  margin-top: 10px;
}

.curved {
  margin-top: -275px;
}

.firstRight {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  flex: 1;
  height: 100%; /* Make sure this div takes the full available height */
  width: 100%;
}

.picture {
  background-color: #e0ebf6;
  height: 75%;
  width: 95%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  margin-top: 20px;
  overflow: hidden;
  position: relative; /* Ensure positioning context */
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 80%;
  position: absolute; /* Position relative to the container */
  top: 0;
  left: 0;
  border-top-left-radius: 150px; /* Apply border-radius to the top-left corner */
  border-bottom-left-radius: 150px; /* Apply border-radius to the bottom-left corner */
}



.second {
  background-color: #f3f3f3;
  flex: 1;
  position: relative; /* Set the parent element to relative positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: absolute; /* Set the cards div to absolute positioning */
  top: -25px; /* Move the cards div 25px above the second div */
  left: 0; /* Adjust these values as needed to position the cards div */
  width: 100%; /* Adjust width as needed */
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Set gap between cards */
}

.card {
  width: 250px;
  height: 220px;
  z-index: 2; /* Ensure it appears on top of the cards container */
  background-color: white;
  border-radius: 15px; /* Add border radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30); /* Add card shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card h4 {
  margin-top: 10px;
  margin-bottom: 0;
}


.icon1 {
  width: 85px;
  height: 85px;
  margin-top: 10px;
  margin-bottom: -20px;
  filter:  brightness(60%) contrast(90%);
}

.icon {
  width: 55px;
  height: 55px;
  margin-top: 20px;
  filter:  brightness(60%) contrast(90%);
}

.cardHead {
  color: #2e4662;
  font-weight: 700;
  font-size: 17px;
}

.cardtext2 {
  color: #2e4662;
  margin: 0;
  margin-top: -15px;
  font-size: 14.5px;
  text-align: center;
}

.cardtext3 {
  font-size: 11.4px;
  text-align: center;
  color: rgb(31, 31, 31);
}


.textbox {
  margin-top: 200px; /* Ensure enough space for cards sticking out */
  text-align: center;
}

.font1 {
  font-size: 20px;
  margin-bottom: -10px;
  font-weight: 600;
}

.specialText {
  font-family: 'SF_HambakSnow';
  color: #D3A518;
  font-size: 25px;
  }

.font2 {
  font-family: "Tinos", serif;
  color: #2d4275;
  font-weight: 600;
}

.content2 {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #727EAF;
}

.real {
  width: 1330px;

}

.content2 h1 {
  color: #D3A518;
  font-size: 60px;
}


.content3 {
  background-color: beige;
  width: 100%;
  height: 750px;
}