.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide any overflow */
}

.Marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(0); /* Start at 0 */
  }
  100% {
      transform: translateX(-50%); /* End at -50% to smoothly loop across both logo sets */
  }
}

.imageGroup {
  display: grid;
  place-items: center;
  width: clamp(9rem, 1rem + 35vmin, 30rem);
  padding: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 10);
}

.imageGroup img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
  padding: 5px 20px;

}